<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHelp - File View</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="toolbar">
        <a href="{{ url_for('files.home') }}"><h1>HomeHelp</h1></a>
        <div class="toolbar-buttons">
            <a href="{{ url_for('signin.signin') }}">Sign in</a>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="container" id="file-list-container">
        <h2>Uploaded Files</h2>
        <div class="file-list">
            {% for file in files %}
                <div class="file-item">
                    {% if file.isDir %}
                        <span id="file-name">📁 {{ file.name }}</span>
                        <a href="/files/{{ file.name }}" id="file-option">Open Directory</a>
                    {% else %}
                        <span id="file-name">📄 {{ file.name }}</span>
                        <a href="{{ url_for('files.download_file', filename=file.name) }}" id="file-option">Download</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <a href="{{ url_for('upload.upload') }}" id="upload-link">Upload a new file</a>
    </div>
</body>
</html>
