<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHelp - File View</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="toolbar">
        <a href="{{ url_for('home') }}"><h1>HomeHelp</h1></a>
        <div class="toolbar-buttons">
            <a href="{{ url_for('signin') }}">Sign in</a>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="container">
        <h2>Uploaded Files</h2>
        <div class="file-list">
            <div class="file-item">
                <span>Sample Directory</span>
                <a href="/files/sample_directory" class="button-link">Open Directory</a>
            </div>
            <div class="file-item">
                <a href="/download/sample_file1.txt">sample_file1.txt</a>
            </div>
            <div class="file-item">
                <a href="/download/sample_file2.pdf">sample_file2.pdf</a>
            </div>
            <div class="file-item">
                <a href="/download/sample_file3.jpg">sample_file3.jpg</a>
            </div>
        </div>

        <a href="{{ url_for('upload') }}" class="upload-link">Upload a new file</a>
    </div>
</body>
</html>
