<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHelp - File View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="toolbar">
        <a href="{{ url_for('files.home') }}"><h1>HomeHelp</h1></a>
        <div class="toolbar-buttons">
            <a href="{{ url_for('signin.signin') }}">Sign in</a>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="container" id="file-list-container">
        <h2>Uploaded Files</h2>
        <div class="file-list">
            {% if not parentPath == None %}
                <div class="file-item">
                    <span id="file-name">📂 ..</span>
                    <a href="{{ url_for('files.home', path=parentPath) }}" id="file-option">Go Back</a>
                </div>
            {% endif %}
            {% for file in files %}
                <div class="file-item">
                    {% if file.isDir %}
                        <span id="file-name">📁 {{ file.name }}</span>
                        <a href="{{ url_for('files.home', path=(currentPath + '/' + file.name).strip('/')) }}" id="file-option">Open Directory</a>
                    {% else %}
                        <span id="file-name">📄 {{ file.name }}</span>
                        <a href="{{ url_for('files.download_file', filename=file.name) }}" id="file-option">Download</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="upload-section">
            <h3>Upload Files or Directories</h3>
            <form action="{{ url_for('files.upload_directory', path=currentPath) }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="files" webkitdirectory multiple required>
                <button type="submit">Upload</button>
            </form>
        </div>

        <div class="create-directory-section">
            <h3>Create a New Directory</h3>
            <form action="{{ url_for('files.create_directory') }}" method="POST">
                <input type="hidden" name="path" value="{{ currentPath }}">
                <input type="text" name="directory_name" placeholder="Enter directory name" required>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</body>
</html>
