<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHelp - Upload</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="toolbar">
        <a href="{{ url_for('home') }}"><h1>HomeHelp</h1></a>
        <div class="toolbar-buttons">
            <a href="{{ url_for('signin') }}">Sign in</a>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="container">
        <form action="/sendUpload" method="POST">
            <div class="input-group">
                <label for="uploadFile">Select File</label>
                <input type="file" id="uploadFile" name="uploadFile" required>
            </div>
            <button type="submit">Sign In</button>
        </form>
    </div>Sign In
</body>
</html>
